<a href="https://colab.research.google.com/github/M4riot/M4riot-TDE3_AnaliseDeDados_TomadasDeDecisoes/blob/main/TDE_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv("natacao.csv");
dados

,Sede,Ano,Distancia,Estilo,Revesamento?,Genero,Equipe,Atleta,Tempo,Posicao
0,Tokyo,2020,100m,Costas,0,Masculino,ROC,Evgeny Rylov,51.98,1
1,Tokyo,2020,100m,Costas,0,Masculino,ROC,Kliment Kolesnikov,52,2
2,Tokyo,2020,100m,Costas,0,Masculino,USA,Ryan Murphy,52.19,3
3,Tokyo,2020,100m,Costas,0,Masculino,ITA,Thomas Ceccon,52.3,4
4,Tokyo,2020,100m,Costas,0,Masculino,CHN,Jiayu Xu,52.51,4
...,...,...,...,...,...,...,...,...,...,...
4354,Stockholm,1912,4x100,Livre,1,Feminino,SWE,"Greta Carlsson, Vera Thulin, Sonja Johnsson, G...",NaN,5
4355,Stockholm,1912,4x200,Livre,1,Masculino,AUS,"Malcolm Champion, Cecil Healy, Harold H. Hardw...",00:10:11.200000,1
4356,Stockholm,1912,4x200,Livre,1,Masculino,USA,"Duke Paoa Kahanamoku, Harry J. Hebner, Perry M...",00:10:20.200000,2
4357,Stockholm,1912,4x200,Livre,1,Masculino,GBR,"Thomas Sidney Battersby, Henry Taylor, John Ga...",00:10:28.600000,3
4358,Stockholm,1912,4x200,Livre,1,Masculino,GER,"Georg Kunisch, Kurt Bretting, Oscar Schiele, M...",00:10:37.000000,4

Pergunta 1:

Sede = Qualitativa Categórica

Ano = Quantitativa Continua

Distancia = Quantitativa Continua

Estilo = Qualitativa Categórica

Revesamento = Qualitativa Ordinal

Genero = Qualitativa Categórica

Equipe = Qualitativa Categórica

Atleta = Quantitativa Categórica

Tempo = Quantitativas Continua

Posicao = Qualitativa Ordinais

Pergunta 1:

Sede = Moda, porque é usada em variaveis de categorias, com o intuito de ver a que mais se repete.

Ano = Média, ela é geralmente usada em dados continuos.

Distancia = Média, ela é geralmente usada em dados continuos.

Estilo = Moda, porque é usada em variaveis de categorias, com o intuito de ver a que mais se repete.

Revesamento = Moda, porque é usada em variaveis de categorias, com o intuito de ver a que mais se repete.

Genero = Moda, porque é usada em variaveis de categorias, com o intuito de ver a que mais se repete.

Equipe = Moda, porque é usada em variaveis de categorias, com o intuito de ver a que mais se repete.

Atleta = Moda, porque é usada em variaveis de categorias, com o intuito de ver a que mais se repete.

Tempo = Média, ela é geralmente usada em dados continuos.

Posicao = Moda ou Mediana, que ambas servem para resultados diferentes.

In [ ]:
dadosOrdemDesc = dados.sort_values(by='Estilo', ascending=False);
partDescMasc = dadosOrdemDesc[dadosOrdemDesc['Genero'] == 'Masculino']
atletaComMaiorParticipacao = partDescMasc.iloc[0]['Atleta']
atletaComMaiorParticipacao

'Thomas Edwin Bruce'

In [ ]:
dadosOrdemDesc = dados.sort_values(by='Estilo', ascending=False);
partDescMasc = dadosOrdemDesc[dadosOrdemDesc['Genero'] == 'Feminino']
atletaComMaiorParticipacao = partDescMasc.iloc[0]['Atleta']
atletaComMaiorParticipacao

'Barbara Göbel'

In [ ]:
medalBronze = dados.loc[dados['Posicao'] == 3]
medalBronze['Equipe'].mode()

0    USA
Name: Equipe, dtype: object

Pergunta 8:

Conclusão 1: As atletas do genero feminino desde 1920 são mais rapidas do que do genero massculino.

Concluão 2: Conforme foi passando os anos os atletas do genero masculino diminuiram a diferença de tempo das atletas do genero feminino.

Conclusão 3: Conforme os anos foi se passando o tempo foi melhorando drasticamente para ambos os generos.

Conclusão 4: O tempo em anos que os atletas do genero masculino levaram para melhorar o tempo na nos 100m foi melhor do que do genero feminino.

Conclusão 5: Enquanto os atletas do genero masculino continuam melhorando o seu tempo na modalidade, as atletas do genero feminino estabilizaram sem continuar melhorando no final do grafico.

Conclusão: Ambos os generos tiveram anos que pioravam o tempo na modalidade.